<!DOCTYPE html>
  <head>
	<title><%= @title %></title>
	<link type="text/css" rel="stylesheet" href="/css/index.css"/>
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
  </head>
  <body>
    <div id="app"></div>
	<script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
